nav{
    background-color: rgb(44, 62, 80);
    color: white;
}

.ms_top{
    margin-top: 56px;
}

.icon_hidden{
    display: none;
}

.border_hidden{
    border: 1px solid white;
}

.section_special{
    background-color: rgb(26, 188, 156);
    color: white;
}

.section_special_second{
    background-color: #3a546d;
    color: white;
}

.image_special{
    width: 20%;
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-short-special{
    width: 10%;
    height: 2px;
    border-radius: 20px;
    background-color: white;
}

.line-short {
    width: 10%;
    height: 2px;
    border-radius: 20px;
    background-color: black;
}

.star i{
    margin: 0 10px;
}

img{
    width: 100%;
    border-radius: 20px;
}

.download{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    color:white;
    text-decoration: none;
}
/* -----------form------- */
.button_send{
    background-color: rgb(26, 188, 156);
    border: 0;
}
.border_form{
    border: 0;
    border-bottom: 1px solid grey;
    border-radius: 0;
}

/* -----lista delle icone----- */
ul{
    list-style: none;
}

.section_special_second li{
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 30px;
    display: inline-block;
}

a{
    color: white;
}

.text_special{
    color: rgb(26, 188, 156);
}

/* -----footer----- */
footer{
    background-color: #2c3e50;
    color: white;
}

footer{
    font-size: 10px;
}


